body {
  background: #f5f6f7;
}
.container {
  max-width: 999px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index-head {
  text-align: center;
}
.index-head h2 {
  font-weight: 400;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.project-card a {
  color: black !important;
}

.project-card a:hover,
.project-card a:focus,
.project-card a:active {
  text-decoration: none !important;
}
