body {
  background: #f5f6f7;
}
.container {
  max-width: 999px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index-head {
  text-align: center;
}
.index-head h2 {
  font-weight: 400;
}
